<template>
  <ul class="side-nav-links">
    <nuxt-link
      class="side-nav-item side-nav__link"
      :to="localePath('index')"
      @click.native="$emit('close')">
      <h5 class="side-nav__link__title">Home</h5>
      <i :class="'fas fa-home'"></i>
    </nuxt-link>
    <nuxt-link
      class="side-nav-item side-nav__link"
      :to="localePath('search')"
      @click.native="$emit('close')">
      <h5 class="side-nav__link__title">{{ $t('header.search') }}</h5>
      <i :class="'fas fa-search fa-search__header'"></i>
    </nuxt-link>
    <nuxt-link
      class="side-nav-item side-nav__link"
      :to="localePath('about')"
      @click.native="$emit('close')">
      <h5 class="side-nav__link__title">{{ $t('header.about') }}</h5>
      <i :class="'fas fa-info'"></i>
    </nuxt-link>
    <li class="side-nav-social">{{ $t('other_lang') }}</li>
    <div class="lang-buttons mobile-lang-buttons">
      <div class="lang-button-container">
        <nuxt-link
          v-for="locale in availableLocales"
          tag="img"
          :src="`/${locale.code}.svg`"
          :key="locale.code"
          :to="switchLocalePath(locale.code)"
          class="lang-button"
          @click.native="$emit('close')"></nuxt-link>
      </div>
    </div>
    <!-- <li class=" side-nav-social">Social</li> -->
    <div class="social side-social">
      <i class="fab fa-twitter side-nav-item social__link"></i>
      <i class="fab fa-instagram side-nav-item social__link"></i>
      <i class="fab fa-youtube side-nav-item social__link"></i>
    </div>
  </ul>
</template>

<script>
export default {
  computed: {
  availableLocales () {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  }
}
</script>

<style scoped>
.side-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: auto;
  text-align: center;
  padding: 0;
}

.side-nav-item {
  margin-top: 1rem;
  vertical-align: baseline;
}

.side-nav-item:hover,
.side-nav-item:active {
  transform: scale(1.1);
}

.side-nav__link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-decoration: none;
  color: #722b37;
  font-size: 1.5rem;
}

.side-nav__link:hover,
.side-nav__link:active {
  color: #ff7824;
}

.side-nav__link__title {
  margin: 1rem;
}

.side-nav-social {
  margin-top: 2.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #722b37;

}

.side-social {
  width: 70%;
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.social__link {
  margin: 0;
  font-size: 1.5rem;
  color: #722b37;
}

.social__link:hover,
.social__link:Active {
  color: #ff7824;
  cursor: pointer;
}

.side-lang-buttons {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
}

.lang-buttons {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1rem;
  padding: 0;
}

.lang-button-container {
  width: 3.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  display: flex;
}

.lang-button {
  margin: 0 0.5rem;
  border-radius: 0.1rem;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: auto;
}

.lang-button:hover,
.lang-button:active {
  cursor: pointer;
  transform: scale(1.3);
}
</style>
