<template>
  <div class="ingredients-container">
    <h1 class="ingredients-title">{{ $t('recipe.ingr') }}:</h1>
    <ul class="ingredients-list">
      <li class="ingredient" v-for="(ingredient, index) in ingredients" :key="index">
        {{ ingredient.quantity }} {{ ingredient.unit != '' ? `${ingredient.unit} ${$t('recipe.ofWord')}` : '' }} {{ ingredient.name }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    ingredients() {
      return this.$store.state.ingredients
    }
  }
}
</script>

<style scoped>
.ingredients-title {
  color: #e5ce7b;
  padding: 0 0.5rem;
}

.ingredients-list {
  padding: 0 1.2rem;
}

.ingredient {
  color: #e5ce7b;
  margin-top: 0.3rem;
  font-size: 0.9rem;
}
</style>
