<template>
  <div :class="{'sidebar-container': show}" v-scroll-lock="show">
    <div
      class="sidebar-backdrop"
      @click="$emit('close')"
      v-if="show">
    </div>
    <transition name="slide-side">
      <div class="side-nav" v-if="show">
        <StepsSidebar v-if="$route.path.endsWith('/steps')" @close="$emit('close')" />
        <MainSidebar v-else @close="$emit('close')" />
      </div>
    </transition>
  </div>
</template>

<script>
import MainSidebar from '@/components/TheSidebar/MainSidebar'
import StepsSidebar from '@/components/TheSidebar/StepsSidebar'

export default {
  name: "TheSidebar",
  components: {
    MainSidebar,
    StepsSidebar
  },
  props: {
    show: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>
.sidebar-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.sidebar-backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
}

.slide-side-enter-active,
.slide-side-leave-active {
  transition: all 0.3s ease-out;
}
.slide-side-enter,
.slide-side-leave-to {
  transform: translateX(-100%);
}

.side-nav {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: rgb(255, 250, 250);
  width: 80%;
  height: 100vh;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}
</style>
