<template>
  <nav class="main-nav">
    <ul class="nav-links">
      <nuxt-link
        class="nav-link"
        tag="li"
        :to="localePath('index')" exact>
        <p>Home</p>
        <i :class="'fas fa-home'"></i>
      </nuxt-link>
      <nuxt-link
        class="nav-link"
        tag="li"
        :to="localePath('search')" exact>
        <p>{{ $t('header.search') }}</p>
        <i :class="'fas fa-search fa-search__header'"></i>
      </nuxt-link>
      <nuxt-link
        class="nav-link"
        tag="li"
        :to="localePath('about')" exact>
        <p>{{ $t('header.about') }}</p>
        <i :class="'fas fa-info'"></i>
      </nuxt-link>
      <li class="social">
        <div class="social">
          <i class="fab fa-twitter nav-link social-link"></i>
          <i class="fab fa-instagram nav-link social-link"></i>
          <i class="fab fa-youtube nav-link social-link"></i>
        </div>
      </li>
      <li class="lang">
        <div class="lang-button-container">
          <nuxt-link
            v-for="locale in availableLocales"
            tag="img"
            :src="`/${locale.code}.svg`"
            :key="locale.code"
            :to="switchLocalePath(locale.code)"
            class="lang-button"
            :alt="$t('header.altFlag') "></nuxt-link>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  computed: {
    availableLocales () {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  }
}
</script>

<style scoped>
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 1rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  color: #722b37;
}

.nav-link p {
  padding: 0 0.5rem;
  font-weight: bold;
}

.nav-link:hover,
.nav-link:active {
  color: #ff7824;
  cursor: pointer;
  transform: scale(1.05);
}

.nav-link.nuxt-link-exact-active {
  color: #ff7824;
  border-bottom: 3px solid #ff7824;
  transform: scale(1);
}

.social {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.social-link {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

.lang {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

.lang-button-container {
  width: 2.2rem;
  height: 1.4rem;
  flex-shrink: 0;
  display: flex;
}

.lang-button {
  margin: 0 0.5rem;
  border-radius: 0.1rem;
  object-fit: cover;
  object-position: center;
  max-width: 101%;
  height: auto;
}

.lang-button:hover,
.lang-button:active {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 60rem) {
  .nav-link {
    font-size: 1rem;
  }

  .social {
    margin: 1rem;
  }

  .social-link {
    color: #722b37;
    font-size: 1.5rem;
    margin: 0 1rem;
  }

}
</style>
