<template>
  <nav class="mobile-nav">
    <ul class="nav-links">
      <li class="toggle-button" @click="$emit('toggleSidebar')" aria-label="Menu">
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
      </li>
      <nuxt-link
        class="nav-link"
        tag="li"
        :to="localePath('index')">
        <i :class="'fas fa-home'"></i>
      </nuxt-link>
      <nuxt-link
        class="nav-link"
        tag="li"
        :to="localePath('search')">
        <i :class="'fas fa-search fa-search__header'"></i>
      </nuxt-link>
      <nuxt-link
        class="nav-link"
        tag="li"
        :to="localePath('about')">
        <i :class="'fas fa-info'"></i>
      </nuxt-link>
    </ul>
  </nav>
</template>

<script>
export default {
  methods: {
    setLanguage(language) {
      this.$router.push({name: this.$route.name, params: { lang: language }, query: this.$route.query })
    }
  }
}
</script>

<style scoped>
.mobile-nav {
  /* display: grid;
  grid-template-columns: 1fr 9fr; */
  width: 100%;
  height: 100%;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.toggle-button {
  margin-top: 0.5rem;
  display: block;
  justify-self: center;
  width: 1.8rem;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #722b37;
  display: block;
  margin: 0.4rem 0;
  border-radius: 0.1rem;
}

.nav-link {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 1rem;
  padding: 0.3rem;
  color: #722b37;
}

.nav-link i {
  font-size: 1.6rem;
}

.nav-link.nuxt-link-exact-active {
  color: #ff7824;
  border-bottom: 3px solid #ff7824;
}

.nav-link:hover {
  color: #ff7824;
  cursor: pointer;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .toggle-button {
    margin-top: 0.5rem;
    display: block;
    justify-self: center;
    width: 1.8rem;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
</style>
