<template>
  <div class="header-container">
    <headroom
      :disabled="$mq !== 'sm'"
      :downTolerance="5"
      :upTolerance="5">
      <header class="main-header" :class="{ 'main-header__scrolled': scrolled }">
        <MainNav v-if="$mq !== 'sm'" />
        <MobileNav v-else @toggleSidebar="displaySidebar = !displaySidebar"/>
        <TheSidebar @close="displaySidebar = false" :show="displaySidebar"/>
      </header>
    </headroom>
  </div>
</template>

<script>
import MainNav from '@/components/TheHeader/MainNav'
import MobileNav from '@/components/TheHeader/MobileNav'
// import TheSearchbar from '@/components/TheSearchbar/TheSearchbar'
import TheSidebar from '@/components/TheSidebar/TheSidebar'
import { headroom } from 'vue-headroom'

export default {
  name: "TheHeader",
  components: {
    MainNav,
    MobileNav,
    TheSidebar,
    // TheSearchbar,
    headroom
  },
  data() {
    return {
      displaySidebar: false,
      scrolled: false
    }
  },
  computed: {
    mainNavi() {
      let settings = this.$store.state.settings.main_navi
      return settings.filter((item) => { return item.component === 'Nav Item' })
    }
  },
  created() {
    if (process.client){
      window.addEventListener('scroll', this.handleScroll);
    }
  },
  methods: {
    handleScroll() {
      this.scrolled = window.scrollY > 0
    }
  }
}
</script>

<style>
.header-container {
  grid-area: header;
}

.main-header {
  background-color: rgb(255, 250, 250);
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__scrolled {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.headroom--unpinned .main-header {
  box-shadow: none;
}

.nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 1rem;
  padding: 0.3rem;
  color: #722b37;
}

.nav-link.nuxt-link-exact-active {
  color: #ff7824;
  border-bottom: 3px solid #ff7824;
}

.nav-link p {
  padding: 0 0.5rem;
}

.nav-link:hover {
  color: #ff7824;
  cursor: pointer;
}

/* .social {
  position: left;
} */

.lang-button {
  margin: 0 5px;
  border-radius: 3px;
  border-style: none;
  width: 2rem;
}

.lang-button:hover,
.lang-button:active {
  background-color: #ff7824;
  cursor: pointer;
}

@media (min-width: 40rem) {
  .main-header {
    position: fixed;
    width: 100%;
    height: 4.5rem;
    justify-content: center;
    flex-direction: column;
  }

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
