<template>
  <div class="carousel-container">
    <!-- <carousel
      :autoplay="$device.isDesktop"
      :autoplayTimeout="8000"
      :autoplayHoverPause="true"
      :speed="carouselSpeed"
      :perPage="1"
      :paginationSize="13"
      :loop="true">
      <slide v-for="post in posts" :key="post.id">
        <SlideImage
          :image="post.thumbnailUrl"
          :title="post.title"
          :path="post.fullSlug" />
      </slide>
    </carousel> -->
    <vue-glide
      class="slider"
      type="slider"
      v-model="currStep"
      :index="currStep"
      :perView="1"
      :gap="32"
      :swipeThreshold="50"
      :animationDuration="200">
      <vue-glide-slide v-for="(slide, index) in slides" :key="index">
        <MainSlide :recipes="slide" />
      </vue-glide-slide>
      <template slot="control" v-if="$mq !== 'sm'">
        <div class="slides-control slides-control__prev" data-glide-dir="<">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="slides-control slides-control__next" data-glide-dir=">">
          <i class="fas fa-chevron-right"></i>
        </div>
      </template>
    </vue-glide>
    <div class="slide-bullets">
      <div
        class="slide-bullet"
        v-for="(slide, index) in slides"
        :key="index"
        :style="bulletStyle(index)"
        @click="goToSlide(index)"
        :data-glide-dir="`=${index}`"></div>
    </div>
  </div>
</template>


<script>
// import { Carousel, Slide } from 'vue-carousel'
import { Glide, GlideSlide } from 'vue-glide-js'
// import SlideImage from '@/components/Home/SlideImage'
import MainSlide from '@/components/Home/MainSlide'

export default {
  components: {
    [Glide.name]: Glide,
    [GlideSlide.name]: GlideSlide,
    // Carousel,
    // Slide,
    // SlideImage,
    MainSlide
  },
  props: ['posts'],
  data() {
    return {
      currStep: 0,
      carouselSpeed: this.$device.isMobileOrTablet ? 200 : 1000
    }
  },
  computed: {
    slides() {
      let s = []
      const count = Math.floor(this.posts.length / 3)
      for (let i = 0; i < count * 3; i+=3) {
        let slide = []
        for (let j = 0; j < 3; j++) {
          slide.push(this.posts[i+j])
        }
        s.push([...slide])
      }
      const remainder = this.posts.length % 3
      if (remainder > 0) {
        let lastSlide = []
        for (let i = remainder; i > 0; i--) {
          lastSlide.push(this.posts[this.posts.length - i])
        }
        s.push([...lastSlide])
      }
      return s
    }
  },
  methods: {
    goToSlide(index) {
      this.currStep = index
    },
    bulletStyle(index) {
      const color = index === this.currStep ? "#ff7824" : "#722b37"
      return { 'background-color': color }
    }
  }
}
</script>

<style>
.carousel-container {
  width: 100%;
  margin: 0 auto;
}

.VueCarousel-dot {
  margin: 0 !important;
}

.slider {
  position: relative;
}

.slides-control {
  position: absolute;
  display: block;
  margin-top: -1.75rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;;
  background-color: rgb(226, 221, 221);
  border-radius: 5px;
  opacity: .4;
}

.slides-control:active,
.slides-control:hover {
  animation: control-hover 200ms ease-out forwards;
  cursor: pointer;
}

.slides-control__prev {
  top: 50%;
  left: 0;
}

.slides-control__next {
  top: 50%;
  right: 0;
}

.slide-bullets {
  display: flex;
  justify-content: center;
}

.slide-bullet {
  display: inline-block;
  height: 5px;
  width: 50px;
  margin: 0 1rem;
}

.slide-bullet:hover {
  cursor: pointer;
  background-color: #ff7824;
}

.glide__slides {
  margin-bottom: 0 !important;
}

.glide__slide {
  margin-bottom: 1rem !important;
}

@keyframes control-hover {
  from {
  }

  to {
    opacity: .7;
  }
}
</style>

