<template>
  <div class="slide-container">
    <div class="desktop-slide" v-if="$mq === 'lg' || $mq === 'xl'">
      <PostPreview 
        class="slide-recipe desktop-slide__main-recipe" 
        :post="recipes[0]" 
        previewHeight="100%"
        titleSize="2rem"
        subSize="1rem" />
      <PostPreview
        v-for="recipe in otherSlides" 
        :key="recipe.id"
        titleSize="1.2rem"
        :post="recipe" />
    </div>
    <div class="mobile-slide" v-else>
      <PostPreview 
        class="slide-recipe desktop-slide__main-recipe" 
        :post="recipes[0]" 
        :previewHeight="previewHeigth"
        titleSize="1.5rem"
        subSize="1rem" />
    </div>
  </div>    
</template>

<script>
import { resize } from '@/plugins/helper'
import PostPreview from '@/components/Blog/PostPreview'

export default {
  components: {
    PostPreview
  },
  props: {
    recipes: {
      type: Array,
      required: true
    }
  },
  computed: {
    otherSlides() {
      let r = [...this.recipes]
      r.shift()
      return r
    },
    imageWidth() {
      return this.$mq === 'sm' || this.$mq === 'md' ? 720 : 1200
    },
    imageHeight() {
      return this.$mq === 'sm' || this.$mq === 'md' ? 480 : 800
    },
    slideStyle() {
      return {
        background: `linear-gradient(to top, rgba(0, 0, 0, 0.6) 2%, transparent, transparent),
          url(${this.resizedImage}) center/cover no-repeat`
      }
    },
    previewHeigth() {
      return this.$mq == 'sm' ? '14rem' : '20rem'
    }
  },
  methods: {
    resizeImage(image) {
      return resize(image, this.imageWidth, this.imageHeight)
    }
  }
}
</script>

<style scoped>
.slide-container {
  padding: 0 1rem;
  margin-top: 1rem;
  height: 100%;
}

.desktop-slide {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "main main other1"
                       "main main other2";
}

.desktop-slide__main-recipe {
  grid-area: main;
}
</style>
