<template>
  <div class="slide" :style="slideStyle" @click="toRecipe">
    <h1 class="slide-title">{{ title }}</h1>
  </div>
</template>

<script>

export default {
  props: {
    image: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    path: {
      type: String,
      required: true
    }
  },
  computed: {
    resizedImage() {
      return resize(this.image, '1200x800')
    },
    slideStyle() {
      return {
        background: `linear-gradient(to top, rgba(0, 0, 0, 0.6) 2%, transparent, transparent),
          url(${this.resizedImage}) center/cover no-repeat`
      }
    }
  },
  methods: {
    toRecipe() {
      this.$router.push(this.path)
    }
  }
}
</script>

<style scoped>
.slide {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items:flex-end;
  overflow: hidden;
  border-radius: 5px;
}

.slide:hover,
.slide:active {
  cursor: pointer;
}

.slide-title {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
  /* text-shadow: 3px 3px 3px rgba(0,0,0,0.9); */
  padding: 0 1rem;
  margin-bottom: 1rem;
}

/* .VueCarousel-slide-active .slide-title {
  animation: title-slide 1000ms 100ms ease-out forwards
} */

@media (min-width: 40rem) {
  .slide {
    height: 50vh;
  }

  .slide-title {
    font-size: 2rem;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* @keyframes title-slide {
  from {
    transform: translateX(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
} */
</style>
