<template>
  <div class="spoiler-container">
    <h1 class="spoiler-title">{{ title }}</h1>
    <div class="spoiler-posts">
      <PostPreview
        class="spoiler-post"
        v-for="post in posts"
        :key="post.id"
        :post="post" />
    </div>
  </div>
</template>

<script>
import PostPreview from '@/components/Blog/PostPreview'

export default {
  components: {
    PostPreview
  },
  props: {
    title: {
      type: String,
      required: true
    },
    posts: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.spoiler-title {
  margin: 1rem 0;
}

.spoiler-posts {
    display: grid;
    grid-template-columns : [post-start] repeat(1, 1fr) [post-end];
    grid-gap: 1rem
  }

@media (min-width: 18rem) {
  .spoiler-posts {
    grid-template-columns : [post-start] repeat(2, 1fr) [post-end];
  }
}

@media (min-width: 40rem) {
  .spoiler-title {
    font-size: 2rem;
  }
}

@media (min-width: 45rem) {
  .spoiler-posts {
    grid-template-columns : [post-start] repeat(4, 1fr) [post-end];
    grid-gap: 1.5rem
  }
}
</style>

