<template>
  <div class="tape-container">
    <h1 class="tape-title">{{ title }}</h1>
    <div class="tape-posts">
      <PostPreview
        class="tape-post"
        v-for="post in posts"
        :key="post.id"
        :post="post"
        :previewHeight="previewHeight"
        :titleSize="titleSize"
        :subSize="subSize" />
    </div>
  </div>
</template>

<script>
import PostPreview from '@/components/Blog/PostPreview'

export default {
  components: {
    PostPreview
  },
  props: {
    title: {
      type: String,
      required: true
    },
    posts: {
      type: Array,
      required: true
    }
  },
  computed: {
    previewHeight() {
      return this.$mq === 'sm' ? "11rem" : "18rem"
    },
    titleSize() {
      return this.$mq === 'sm' ? "1rem" : "1.5rem"
    },
    subSize() {
      return this.$mq === 'sm' ? "0.7rem" : "1rem"
    }
  }
}
</script>

<style scoped>
.tape-title {
  margin: 1rem 0;
}

.tape-posts {
    display: grid;
    grid-template-columns : [post-start] repeat(1, 1fr) [post-end];
    grid-gap: 1rem
  }

@media (min-width: 18rem) {
  .tape-posts {
    grid-template-columns : [post-start] repeat(2, 1fr) [post-end];
  }
}

@media (min-width: 40rem) {
  .tape-title {
    font-size: 2rem;
  }
}

@media (min-width: 45rem) {
  .tape-posts {
    grid-template-columns : [post-start] repeat(2, 1fr) [post-end];
    grid-gap: 2.5rem
  }
}
</style>

