<template>
  <vue-glide
    :perView="perView"
    :gap="0"
    :rewind="false"
    :swipeThreshold="50"
    :animationDuration="200"
    @change="handlePageChange">
    <vue-glide-slide v-for="(step, index) in steps" :key="index">
      <div>
        <h3 class="step-title">{{ step.title }}</h3>
        <img :src="resizeImage(step.thumbnail)" :alt="step.title" class="step-thumbnail">
        <p class="step-description">{{ step.content }}</p>
      </div>
    </vue-glide-slide>
  </vue-glide>
</template>

<script>
import { Glide, GlideSlide } from 'vue-glide-js'

export default {
  components: {
    [Glide.name]: Glide,
    [GlideSlide.name]: GlideSlide
  },
  props: {
    perView : {
      type: Number,
      default: 1
    }
  }
}
</script>

<style scoped>

</style>
