<template>
  <div class="searchbar" :class="{ 'searchbar-focus': searchbarFocus }">
    <form class="searchbar-form" @submit.prevent="search">
      <input
        type="text"
        name="search"
        id="search"
        v-model="searchKey"
        autocomplete="off"
        v-focus="searchbarFocus"
        @focus="searchbarFocus = true"
        @blur="blurFocus" />
      <i class="fas fa-search fa-searchbar" @click="search"></i>
    </form>
    <ul class="search-results" v-if="searchKey && searchbarFocus">
      <!-- nuxt-link? -->
      <li
        class="search-result"
        v-for="result in searchResults"
        :key="result.title"
        @click="hintSlug = `recipes/${result.title.replace(/ /g, '-').toLowerCase()}`">{{ result.title }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mixin as focusMixin }  from 'vue-focus';

export default {
  name: "TheSearchbar",
  mixins: [ focusMixin ],
  data() {
    return {
      searchKey: '',
      searchResults: [],
      searchbarFocus: false,
      hintSlug: ''
    }
  },
  watch: {
    async searchKey() {
      let langPrefix = ''
      if (this.$i18n.locale !== this.$i18n.defaultLocale) {
        langPrefix = `${this.$i18n.locale}/`
      }
      if (this.searchKey) {
        let data = await this.$axios.$post('finder/search-recipes', {
          query: this.searchKey
        })
        this.searchResults = data.recipes.map(r => {
          return {
            title: r.title
          }
        })
      }
    },
    hintSlug() {
      this.$router.push('/' + this.hintSlug)
    }
  },
  methods: {
    search() {
      // this.$emit('hideSearch')
      if (this.searchKey) {
        this.searchbarFocus = false
        this.$router.push({ path: this.localePath('search'), query: { key: this.searchKey }})
        setTimeout(() => {
          this.$emit("searchedKey", this.searchKey)
        }, 250)
      }
    },
    blurFocus() {
      setTimeout(() => { this.searchbarFocus = false }, 250)
    }
  }
}
</script>

<style scoped>
  .searchbar {
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.15);
  }

  .searchbar-focus {
    animation: search-focus 200ms ease-out forwards;
  }

  .searchbar-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #search {
    flex-grow: 1;
    height: 2.5rem;
    font: inherit;
    font-size: 1rem;
    border-style: none;
    margin: 0 0.5rem;
    padding-left: 0.5rem;
    min-width: 0;
  }

  #search:focus {
    outline: none;
  }

  .fa-searchbar {
    font-size: 1.2rem;
    padding: 0.6rem;
    margin: 0 0.5rem;
  }

  .fa-searchbar:hover,
  .fa-searchbar:active {
    cursor: pointer;
    color: #722b37
  }

  .search-results {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.6rem 0;
    font-size: 0.8rem;
    list-style: none;
  }

  .search-result {
    padding: 0.2rem 1rem;
  }

  .search-result:hover,
  .search-result:active {
    /* background-color: #f9f5e0; */
    font-weight: bold;
    cursor: pointer;
  }

  @media (min-width: 40rem) {
    #search {
      height: 3.5rem;
      font-size: 1.5rem;
    }

    .fa-searchbar {
      font-size: 1.8rem;
    }

    .search-results {
      font-size: 1rem;
    }
  }

  @keyframes search-focus {
    from {
      box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.15);
    }

    to {
      box-shadow: 0 7px 15px 5px rgba(0, 0, 0, 0.22);
      transform: translateY(-0.15rem);
    }
  }
</style>

