<template>
    <button class="like-button" :disabled="!clickable" @click="addLike">👍 {{ likesCount }}</button>
</template>

<script>
import Cookie from 'js-cookie'

export default {
  props: {
    likes: {
      required: true,
    },
    storyId: {
      type: String,
      required:true
    }
  },
  data() {
    return {
      likesCount: this.likes > 0 ? this.likes : null,
      clickable: true
    }
  },
  methods: {
    addLike() {
      // check if user already liked this post
      const cookie = Cookie.get('likes')
      let likes = []
      if (cookie != null) {
        likes = JSON.parse(cookie)
        if (likes.includes(this.storyId)) {
          this.clickable = false
          return
        }
      }
      likes.push(this.storyId)
      Cookie.set('likes', JSON.stringify(likes))

      // let Storyblok = new StoryblokClient({
      //   oauthToken: 'vqWSLOT7ykadmDZlSVmnXwtt-42914-zxunBdFKAAtPbNp5xTPm'
      // })

      // Storyblok.get(`spaces/44363/stories/${this.storyId}`)
      // .then((res) => {
      //   return res.data.story
      // }).then((story) => {
      //   story.content.likes++,
      //   Storyblok.put(`spaces/44363/stories/${this.storyId}`, {
      //     story: story,
      //     // publish: 1
      //   }).then((res) => {
      //     this.likesCount = res.data.story.content.likes
      //   })
      // })
    }
  },
  created() {
    const cookie = Cookie.get('likes')
    let likes = []
    if (cookie != null) {
      likes = JSON.parse(cookie)
      if (likes.includes(this.storyId)) {
        this.clickable = false
        return
      }
    }
  }
}
</script>

<style>
.like-button {
  border-style: none;
  border-radius: 2px;
  padding: 4px 6px;
}

.like-button:hover,
.like-button:active {
  cursor: pointer;
}
</style>
