<template>
  <div id="post">
    <div class=scrollbar :style="{ width: scrollbar + '%' }"></div>
    <client-only placeholder="Loading...">
      <parallax :breakpoint="'(min-width: 0)'" :speedFactor=0.2 :sectionHeight=38>
        <!-- <div :style="{backgroundImage: `url(${image})`}" class="post-image"></div> -->
        <img :src="post.mainImage.url" :alt="post.title" class="post-image">
      </parallax>
    </client-only>
    <div class="post-container">
      <div class="post-start">
        <h1 class="post-title">{{ post.title }}</h1>
        <LikeButton :likes=post.likes :storyId=post.id />
        <p class="post-subtitle">{{ post.subtitle }}</p>
      </div>
      <div class="post-content">
        <RecipeStats
          :difficulty="post.difficulty"
          :prepTime="post.prepTime"
          :cookTime="post.cookTime"
          :servings="post.servings"
          :cost="post.cost"
          :extraNotes="post.extraNotes" />
        <p class="description">{{ post.description }}</p>
        <hr class="break-line">
        <IngredientList :ingredients="post.ingredients" />
        <hr class="break-line">
        <h1 id="prep">{{ $t('recipe.prep') }}:</h1>
        <!-- <div class="steps-container" v-if="$mq === 'sm'">
          <nuxt-link class="step" v-for="(step, index) in post.steps"
            :key="step.id"
            :to="$route.path + '/steps'"
            @click.native="setSteps(index)">
            <div class="step-index">
              <h3>{{ index + 1 }}</h3>
            </div>
            <div class="step-title">
              <h5>{{ step.title }}</h5>
            </div>
          </nuxt-link>
        </div> -->
        <!-- <div class="steps-container" v-else> -->
        <div class="steps-container">
          <RecipeStep v-for="(step, index) in post.steps"
            :key="step.id"
            :id="step.id"
            :index="index"
            :title="step.title"
            :content="step.description"
            :image="step.image !== null ? step.image.url : null" />
        </div>
        <p class="conclusion">{{ post.conclusion }}</p>
        <div class="post-image__finished__container">
          <img :src="post.mainImage.url" :alt="post.title" class="post-image__finished">
        </div>
      </div>
      <div class="side-container related-container" v-if="$device.isDesktop">
        <h1 class="side-title">{{ $t('recipe.rel') }}</h1>
        <div class="related">
          <PostPreview class="related-preview" v-for="rel in related"
            :key="rel.id"
            :post="rel"
            previewHeight="8rem" />
        </div>
      </div>
    </div>
    <client-only placeholder="Loading...">
      <div class="side-container related-container" v-if="$device.isMobileOrTablet">
        <h3 class="side-title__mobile">{{ $t('recipe.rel') }}</h3>
        <div class="related-touch">
          <carousel
            :autoplay="false"
            :speed="200"
            :minSwipeDistance=50
            :paginationEnabled="false"
            :spacePadding=5
            :spacePaddingMaxOffsetFactor=-10
            :scrollPerPage="false"
            :perPageCustom="[[360, 2.5], [480, 3], [768, 4]]">
            <slide class="related-slide" v-for="rel in related" :key="rel.id">
              <PostPreview
                :post="rel" />
            </slide>
          </carousel>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
// import axios from 'axios'
import Parallax from 'vue-parallaxy'
import { Carousel, Slide } from 'vue-carousel'
import IngredientList from '@/components/Blog/IngredientList'
import RecipeStep from '@/components/Blog/RecipeStep'
import RecipeStats from '@/components/Blog/RecipeStats'
import PostPreview from '@/components/Blog/PostPreview'
import LikeButton from '@/components/UI/LikeButton'
import gql from 'graphql-tag'

export default {
  components: {
    Parallax,
    Carousel,
    Slide,
    IngredientList,
    RecipeStep,
    RecipeStats,
    PostPreview,
    LikeButton
  },
  data() {
    return {
      scrollbar: 0
    }
  },
  asyncData({ app, store, route, error, isDev }) {
    const apollo = app.apolloProvider.defaultClient
    return apollo.query({
      query: gql`query Recipe($slug: String!) {
        recipe(filter: {slug: {eq: $slug}}) {
          id
          title
          subtitle
          mainImage {
            url
          }
          likes
          prepTime
          cookTime
          servings
          description
          difficulty
          extraNotes
          cost
          conclusion
          ingredients {
            name
            quantity
            unitOfMeasure
          }
          steps {
            title
            description
            image {
              url
            }
          }
        }
        related: allRecipes(filter: {slug: {neq: $slug}}, first: "6", orderBy: likes_DESC) {
          id
          title
          cookTime
          prepTime
          mainImage {
            url
          }
          slug
        }
      }`,
      variables: { slug: route.params.slug }
    }).then(({ data }) => {
      return {
        post: data.recipe,
        related: data.related
      }
    })
  },
  methods: {
    setSteps(index) {
      this.$store.dispatch("setSteps", {
        steps: this.post.steps,
        currStep: index
      })
      this.$store.dispatch("setIngredients", this.post.ingredients.ingredients)
    },
    scroll() {
      window.onscroll = () => {
        this.scrollbar = 100 * window.scrollY / (document.documentElement.scrollHeight - window.innerHeight)
      }
    }
  },
  mounted() {
    this.scroll()
  }
}
</script>

<style scoped>
.Masthead {
  min-height: 300px;
}

.scrollbar {
  position: fixed;
  top: 0;
  height: 5px;
  background-color: #ff7824;
  z-index: 100000;
}

.post-image {
  transform: scale(1.4);
  object-position: center !important;
}

.post-subtitle {
  font-size: 1.1rem;
}

.post-container {
  margin: 1.5rem 0.8rem;
}

.post-content {
  margin: 0;
}

.description {
  font-size: 1.1rem;
  margin: 3rem 0;
}

.post-content p {
  white-space: pre-line;
}

.break-line {
  color: #722b37;
  background-color: #722b37;
  width: 100%;
  height: 3px;
  text-align:center;
  margin: 0 auto;
  border: none;
}

.steps-container {
  margin-top: 2rem;
}

.step {
  margin-top: 2rem;
  display: grid;
  grid-template-areas: "index title";
  grid-template-columns: 1fr 8fr;
  grid-template-rows: auto;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.step:hover {
  animation: step-hover 100ms ease-out forwards;
}

.step-index {
  grid-area: index;
  color: #e5ce7b;
  background-color: #722b37;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
}

.step-index h3 {
  margin: 0;
  padding: 0.5rem 1rem;
}

.step-title {
  grid-area: title;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  color: black;
  background-color: white;
  transform: translateX(-2%);
  box-shadow: -5px 0 3px 0 rgba(0, 0, 0, 0.25);
}

.step-title h5 {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
}

.conclusion {
  margin: 3rem 0;
  font-size: 1.1rem;
}

.side-container {
  margin-top: 2.5rem;
}

.side-title__mobile {
  margin: 0 0.7rem;
}

.related-container {
  margin-top: 2.5rem;
}

.related-slide {
  margin: 1rem 0.5rem;
}

.related {
  margin-top: 0.6rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
}

.post-image__finished__container {
  margin: 3rem 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.post-image__finished {
  transform: scale(1.05);
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}

@media (min-width: 25rem) {
  .related {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 40rem) {
  .post-container {
    margin: 1.5rem 2rem;
  }

  .post-title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  /* main picture height */
  .Masthead {
    min-height: 380px !important;
  }

  .related {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 60rem) {
  .post-container {
    margin: 1.5rem 4rem;
    display: grid;
    grid-gap: 0 6rem;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "title title"
                         "post related"
                         "post also-watch";
  }

  .post-content {
    grid-area: post;
  }

  .post-start {
    grid-area: title;
  }

  .side-container {
    display: flex;
    flex-direction: column;
  }

  .side-container {
    margin: 0;
  }

  .side-title {
    margin: 0;
    font-size: 1.5rem;
  }

  .related-container {
    grid-area: related;
    margin-top: 2rem;
  }

  .related {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  /* main picture height */
  .Masthead {
    min-height: 575px !important;
  }
}

@media (min-width: 80rem) {
  .post-container {
    margin: 1.5rem 12rem;
  }
}

@keyframes step-hover {
  from {
  }

  to {
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem) scale(1.005);
  }
}
</style>
