<template>
  <footer class="main-footer">
    <p class="credit">Made with ❤️ by <a href="https://twitter.com/paolo_g84" target="_blank" rel="noopener">Kind84</a></p>
  </footer>
</template>

<style scoped>
.main-footer {
  background-color: #722b37;
  color: white;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

.credit {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ff7824;
}
</style>
