<template>
  <div class="search-container">
    <div class="searchbar-container">
      <TheSearchbar @searchedKey="key = $event"/>
    </div>
    <div class="suggestions-container" v-if="$mq !== 'sm'">
      <Suggestion v-for="(image, name) in allTags" :key="name"
        :title="name.charAt(0).toUpperCase() + name.slice(1)"
        :image="image"
        :tags="name"
        @click.native="tagClicked(name)" />
    </div>
    <div class="suggestions-container" v-else>
      <client-only placeholder="Loading...">
        <carousel
          :autoplay="false"
          :speed="200"
          :minSwipeDistance=50
          :spacePadding=5
          :spacePaddingMaxOffsetFactor=-19
          :paginationEnabled="false"
          :scrollPerPage="false"
          :perPageCustom="[[360, 2.5], [480, 3]]">
          <slide class="suggestion-slide" v-for="(image, name) in allTags" :key="name">
            <Suggestion
              :title="name.charAt(0).toUpperCase() + name.slice(1)"
              :image="image"
              :tags="name"
              @click.native="tagClicked(name)" />
          </slide>
        </carousel>
      </client-only>
      <!-- <vue-glide
        :rewind="false"
        :swipeThreshold="50"
        :animationDuration="200"
        :breakpoints="glideBreakpoints">
        <vue-glide-slide class="suggestion-slide" v-for="s in suggestions" :key="s.title">
          <Suggestion
            :title="s.title"
            :thumbnailImage="s.image"
            :tags="s.tags"
            @click.native="suggestionClicked(s.tags)" />
        </vue-glide-slide>
      </vue-glide> -->
    </div>
    <div class="results-container" :class="[ $store.state.slideSuggestions ? 'suggestions-open' : 'suggestions-closed' ]">
      <div
        class="suggestions-arrow-bar"
        :class="{ 'suggestions-arrow-bar__open': $store.state.slideSuggestions }"
        v-if="$mq !== 'sm'">
        <div class="suggestions-arrow-button">
          <i class="fas fa-arrow-up"
            @click="slideSuggestions"
            :class="[ $store.state.slideSuggestions ? 'arrow-up' : 'arrow-down' ]">
          </i>
        </div>
      </div>
      <h1 class="results-title" v-if="results && results.length > 0">{{ $t('search.results') }} "{{ term }}"</h1>
      <h1 class="results-title" v-else-if="(!results || results.length === 0) && term">{{ $t('search.no_res') }}</h1>
      <div class="results">
        <PostPreview class="result" v-for="post in results" :key="post.id" :post="post" />
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'
// import { Glide, GlideSlide } from 'vue-glide-js'
import TheSearchbar from '@/components/TheSearchbar/TheSearchbar'
import Suggestion from '@/components/Search/Suggestion'
import PostPreview from '@/components/Blog/PostPreview'

export default {
  components: {
    Carousel,
    Slide,
    // [Glide.name]: Glide,
    // [GlideSlide.name]: GlideSlide,
    TheSearchbar,
    Suggestion,
    PostPreview
  },
  head() {
    return {
      bodyAttrs: {
        style: this.bodyStyle
      }
    }
  },
  data() {
    return {
      query: this.$route.query,
      defaultTags : {
        "primi": "",
        "secondi": "",
        "dolci": "",
        "contorni": "",
        "colazione": "",
        "senza glutine": "",
        "ricette veloci": ""
      }
      // glideBreakpoints: {
      //   360: {
      //     perView: 2.5
      //   },
      //   480: {
      //     perView: 3
      //   }
      // }
    }
  },
  async asyncData ({ $axios, query, isDev, isMobile }) {
    const bodyStyle = isMobile ? 'cursor: pointer' : 'cursor: auto'
    let results = null

    if (query.tags) {
      let data = await $axios.$post('finder/search-by-tag', {
        tags: typeof query.tags === 'string' || query.tags instanceof String ? [query.tags] : query.tags
      })
      results = data.recipes
    } else if (query.key) {
      let data = await $axios.$post('finder/search-recipes', {
        query: query.key
      })
      results = data.recipes
    }

    let data = await $axios.$post('server/all-tags-images', null)
    let tags = []
    data.tags.forEach(tag => {
      tags.push({
        name: tag.tagName,
        image: tag.recipes[0].mainImage.url
      })
    })
    return {
      bodyStyle,
      tags: tags,
      results: results
    }
  },
  computed: {
    term() {
      if (this.query && this.query.key) {
        return this.query.key
      } else if (this.query && this.query.tags) {
        let matches = []
        if (typeof this.query.tags === 'string' || this.query.tags instanceof String) {
          matches.push(this.query.tags)
        } else {
          this.query.tags.forEach(t => {
            let tag = t.charAt(0).toUpperCase() + t.slice(1)
            matches.push(tag)
          })
        }
        return matches.join(", ")
      } else {
        return null
      }
    },
    allTags() {
      let at = this.defaultTags
      this.tags.forEach(tag => {
        at[tag.name] = tag.image
      })
      return at
    }
  },
  methods: {
    tagClicked(tag) {
      this.$router.push({ path: this.localePath('search'), query: { tags: [tag] }})
    },
    slideSuggestions() {
      this.$store.dispatch("setSlideSuggestions")
    }
  },
  watchQuery: ['key', 'tags'],
  destroyed() {
    this.$store.dispatch("closeSlideSuggestions")
  }
}
</script>

<style scoped>
.search-container {
  margin: 1.5rem 0;
  display: grid;
  grid-template-areas: "searchbar"
                       "suggestions"
                       "results";
  grid-template-rows: 3rem auto auto;
}

.searchbar-container {
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0 0.75rem;
  z-index: 1000;
  grid-area: searchbar;
}

.suggestions-container {
  min-width: 0;
  /* margin-top: 1rem; */
  grid-area: suggestions;
}

.suggestion-slide {
  margin: 1.5rem 0.5rem;
}

.suggestions-arrow-bar {
  position: sticky;
  width: 102%;
  margin: -0.5rem;
  height: 2px;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.9)
}

.suggestions-arrow-button {
  display: block;
  width: 103%;
  margin: -0.6rem;
  background-color: rgb(255, 250, 250);
  text-align: center;
  cursor: pointer;
}

.fa-arrow-up {
  padding: 1rem;
}

.fa-arrow-up:hover,
.fa-arrow-up:active {
  color: #722b37
}

.arrow-up {
  animation: slide-arrow-up 200ms ease-out forwards;
}

.arrow-down {
  animation: slide-arrow-down 200ms ease-out forwards;
}

.suggestions-arrow-bar__open {
  box-shadow: none;
}

.results-container {
  margin-top: 1rem;
  min-height: 5rem;
  padding: 0 0.75rem;
  background-color: rgb(255, 250, 250);
  grid-area: results;
}

.results-title {
  margin: 0;
  font-size: 1.5rem;
}

.results {
  margin-top: 1.5rem;
}

.result {
  margin-top: 1rem;
}

@media (min-width: 20rem) {

  .results {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .result {
    margin-top: 0;
  }
}

@media (min-width: 40rem) {
  .search-container {
    grid-template-rows: 3.5rem auto auto;
  }

  .searchbar-container {
    width: 600px;
    margin: auto;
  }

  .suggestions-container {
    margin: 2rem 0;
    padding: 0 2rem;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
  }

  .suggestions-open {
    animation: suggestions-slide-out 200ms ease-out forwards;
  }

  .suggestions-closed {
    animation: suggestions-slide-in 200ms ease-out forwards;
  }

  .results-container {
    padding: 0 2rem;
    z-index: 5;
  }

  .results-title {
    margin-top: 4rem;
    font-size: 2rem;
  }
}

@media (min-width: 45rem) {
  .results {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
  }
}

@media (min-width: 60rem) {
  .suggestions-container {
    padding: 0 6rem;
  }

  .results-container {
    padding: 0 6rem;
  }
}

@media (min-width: 75rem) {
  .suggestions-container {
    padding: 0 12rem;
  }

  .results-container {
    padding: 0 12rem;
  }
}

@keyframes suggestions-slide-in {
  from {
  }
  to {
    transform: translateY(-5rem);
  }
}

@keyframes suggestions-slide-out {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-arrow-up {
  from {
    transform: rotateZ(180deg)
  }
  to {
    transform: rotateZ(360deg)
  }
}

@keyframes slide-arrow-down {
  from {
  }
  to {
    transform: rotateZ(180deg)
  }
}
</style>
