<template>
  <div class="ingredients-container">
    <h1 class="ingredients-title">{{ $t('recipe.ingr') }}:</h1>
    <ul class="ingredients-list">
      <li v-for="i in ingrList" :key="i">
        <div class="ingredient" v-html="i"></div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    ingredients: {
      type: Array,
      required: true
    }
  },
  computed: {
    ingrList() {
      let il = []
      this.ingredients.forEach(ingr => {
        let qty = ingr.quantity
        if (typeof qty === "string" && qty.toLowerCase() === 'qb') {
          qty = this.$lt('recipe.qb')
        }
        if (qty === '') {
          il.push(`<strong>${ingr.name.toLowerCase()}</strong> ${ingr.unitOfMeasure.toLowerCase()}`)
        } else {
          il.push(`<strong>${ingr.name.toLowerCase()}</strong> ${qty} ${ingr.unitOfMeasure.toLowerCase()}`)
        }
      })
      return il
    }
  }
}
</script>

<style scoped>
.ingredients-container {
  width: 90%;
  margin: 1rem 0;
}

.ingredients-list{
  list-style-type: "\1F944";
  padding-left: 1rem;
  margin: 2rem 0;
}
</style>
