<template>
  <nuxt-link class= "post-preview-container" :to="`/recipes/${slug}`">
    <article class="post-preview">
      <div class="post-preview-thumbnail-container" ref="postRef" :style="{ 'height': ppHeight }">
        <div
          :style="thumbnailStyle"
          class="post-preview-thumbnail">
          <div class="post-preview-content">
            <h3 class="post-preview-title" :style="{ 'font-size': titleSize }">{{ post.title }}</h3>
            <p class="post-preview-time" v-if="time" :style="{ 'font-size': subSize }">{{time}} min.</p>
          </div>
        </div>
      </div>
      <!-- <div class="post-preview-content">
        <h3>{{ title }}</h3>
        <p>{{ excerpt }}</p>
      </div> -->
    </article>
    <!-- <div class="likes">
      <LikeButton :likes=likes :storyId=storyId />
    </div> -->
  </nuxt-link>
</template>

<script>
import { resize } from "@/plugins/helper"
// import LikeButton from '@/components/UI/LikeButton'

export default {
  components: {
    // LikeButton
  },
  props : {
    post: {
      type: Object,
      required: true
    },
    previewHeight: {
      type: String,
      default: ""
    },
    titleSize: {
      type: String,
      default: "1rem"
    },
    subSize: {
      type: String,
      default: "0.8rem"
    }
  },
  data() {
    return {
      thumbnailWidth: 500,
      thumbnailHeight: 500
    }
  },
  computed: {
    time() {
      return this.post.cookTime ? this.post.cookTime + this.post.prepTime : this.post.prepTime
    },
    resizedImage() {
      return resize(this.post.mainImage.url, this.thumbnailWidth, this.thumbnailHeight)
    },
    thumbnailStyle() {
      return {
        background: `linear-gradient(to top, rgba(0, 0, 0, 0.6) 8%, transparent, transparent),
          url(${this.resizedImage}) center/cover no-repeat`
      }
    },
    ppHeight() {
      if (this.previewHeight === "") {
        return this.$mq === 'sm' ? "11rem" : "12rem"
      } else {
        return this.previewHeight
      }
    },
    slug() {
      return this.post.slug
    }
  },
  mounted() {
    if (this.$refs.postRef && this.$refs.postRef.offsetHeight > 300) {
      this.thumbnailSize = "1000x1000"
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: black;
}

.post-preview-container {
  border-radius: 5px;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post-preview-container:hover {
  animation: preview-hover 100ms ease-out forwards;
  /* transform: scale(1.01); */
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.25);
}

.post-preview {
  height: 100%;
}

.post-preview-thumbnail-container {
  overflow: hidden;
}

.post-preview-thumbnail {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post-preview-content {
  display: block;
  padding: 0.5rem;
  color: white;
}

.post-preview-title {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.post-preview-content p {
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

.likes {
  align-self: flex-end;
}

@media (min-width: 60rem) {
  .post-preview-title {
    font-size: 1.1rem;
    font-size: 2vw;
  }

  .post-preview-content p {
    font-size: 0.9rem;
  }
}

@keyframes preview-hover {
  from {
  }

  to {
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.2rem) scale(1.01);
  }
}
</style>
