<template>
  <nuxt-link class="post-mini-container" :to="`/${fullSlug}`">
    <article class="post-mini">
      <div class="post-mini-thumbnail-container">
        <img :src="resizedImage" :alt="title" class="post-mini-thumbnail">
      </div>
      <div class="post-mini-content">
        <h3>{{ title }}</h3>
        <!-- <p v-if="$mq!=='md'">{{ excerpt }}</p> -->
      </div>
    </article>
  </nuxt-link>
</template>

<script>
export default {
  props : {
    title: {
      type: String,
      required: true
    },
    excerpt: {
      type: String,
      required: true
    },
    thumbnailImage: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    fullSlug: {
      type: String,
      required: true
    },
    storyId: {
      type: Number,
      required: true
    }
  },
  computed: {
    resizedImage() {
      return resize(this.thumbnailImage, '300x300')
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: black;
}

.post-mini-container {
  border-radius: 5px;
  box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.06);
  margin-top: 1rem;
  overflow: hidden;
  display: block;
  height: 3.5rem;
}

.post-mini-container:hover {
  transform: scale(1.01);
}

.post-mini {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-mini-thumbnail-container {
  width: 4rem;
  height: 3.5rem;
  flex-shrink: 0;
  display: flex;
}

.post-mini-thumbnail {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: auto;
}

.post-mini-content {
  text-align: start;
  padding: 0 1rem;
}

.post-mini-content h3 {
  font-size: 4vw;
  margin: 0.1rem 0;
}

.post-mini-content p {
  font-size: 0.6rem;
  margin: 0.1rem 0;
}

@media (min-width: 30rem) {
  .post-mini-content h3 {
    font-size: 2.5vw;
  }
}

@media (min-width: 40rem) {
  .post-mini-content h3 {
    font-size: 1.6vw;
  }
}

@media (min-width: 55rem) {
  .post-mini-content h3 {
    font-size: 1.2vw;
  }
}

@media (min-width: 78rem) {
  .post-mini-container {
    height: 4.5rem;
  }

  .post-mini-thumbnail-container {
    width: 5.5rem;
    height: 4.5rem;
    flex-shrink: 0;
  }

  .post-mini-content h3 {
    font-size: 1vw;
  }

  .post-mini-content p {
    font-size: 0.8vw;
    margin: 0.1rem 0;
  }
}
</style>
