<template>
  <div class="stats-container">
    <ul class="stats-list">
      <li class="stat">👨‍🍳 {{ $t('recipe.stats.diff') }}: {{ $t(`recipe.diff.${difficulty}`) }}</li>
      <li class="stat">🥣 {{ $t('recipe.stats.prep') }}: {{ prepTime }} min.</li>
      <li class="stat" v-if="cookTime">🍳 {{ $t('recipe.stats.cook') }}: {{ cookTime }} min.</li>
      <li class="stat">🍽️ {{ $t('recipe.stats.serve') }}: {{ servings }}</li>
      <li class="stat" v-if="cost">💸 {{ $t('recipe.stats.cost') }}: {{ $t(`recipe.cost.${cost}`) }}</li>
      <li class="stat" v-if="extraNotes">⭐ {{ $t('recipe.stats.extra') }}: {{ extraNotes }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    difficulty: {
      type: String,
      required: true
    },
    prepTime: {
      type: Number,
      required: true
    },
    cookTime: {
      type: Number,
      required: true
    },
    servings: {
      type: Number,
      required: true
    },
    cost: {
      type: String,
      required: false
    },
    extraNotes: {
      type: String,
      required: false
    }
  }
}
</script>

<style scoped>
/* .stats-container {
  display: grid;
} */

.stats-list {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
}
</style>
