<template>
  <section class="recipe-step">
    <div class="step-index">
      <h3>{{ index + 1 }}</h3>
    </div>
    <div class="step-thumbnail-container" v-if="image" @click="show = true">
      <img v-if="resizedImage" :src="resizedImage" :alt="title" class="step-thumbnail">
    </div>
    <div v-else style="height: 2rem"></div>
    <div class="step-content">
      <h1 class="step-title">{{ title }}</h1>
      <p class="step-description">{{ content }}</p>
    </div>
  </section>
</template>

<script>
import { resize } from "@/plugins/helper"

export default {
  props: {
    index: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    content: {
      type: String,
      required: true
    },
    image: {
      type: String,
      // required: true
    }
  },
  data() {
    return {
      show: false,
      imageWidth: 500,
      imageHeight: 500
    }
  },
  computed: {
    resizedImage() {
      return resize(this.image, this.imageWidth, this.imageHeight)
    }
  }
}
</script>

<style scoped>
.recipe-step {
  margin-top: 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.step-thumbnail {
  object-fit: cover;
  object-position:center;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
}

.step-thumbnail:hover,
.step-thumbnail:active {
  cursor: pointer;
}

.step-index {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #722b37;
  background-color: #ff7824;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
}

.step-index h3 {
  margin: 0;
  padding: 0.5rem 1rem;
}

.step-content {
  padding: 1.5rem 1rem 0.5rem 1rem;
  text-align: start;
  white-space: pre-line;
  word-spacing: 0px;
  padding-right: 2rem;
  align-self: start;
}

.step-title {
  font-size: 1.2rem;
  margin: 0;
}

@media (min-width: 30rem) {
  .recipe-step {
    margin-top: 2rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    box-shadow: none;
    overflow: visible;
  }

  .step-thumbnail-container {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  }

  .step-title {
    font-size: 1.5rem;
  }
}
</style>
