<template>
  <div class= "suggestion-container">
    <div class="suggestion-thumbnail-container">
      <div
        :style="thumbnailStyle"
        class="suggestion-thumbnail">
        <div class="suggestion-content">
          <h3 class="suggestion-title">{{ title }}</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props : {
    title: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: false
    }
  },
  computed: {
    resizedImage() {
      // return resize(this.image, '500x500')
      return this.image
    },
    thumbnailStyle() {
      if (this.image) {
        return {
          background: `linear-gradient(to top, rgba(0, 0, 0, 0.5) 30%, transparent, transparent),
            url(${this.image}) center/cover no-repeat`
        }
      } else {
        return {
          background: `linear-gradient(to top, rgba(0, 0, 0, 0.5) 30%, transparent, transparent)`
        }
      }
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: black;
}

.suggestion-container {
  border-radius: 5px;
  box-shadow: 0 4px 15px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 3rem;
}


.suggestion-container:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.20);
}

.suggestion-container:hover,
.suggestion-container:active {
  cursor: pointer;
}

.suggestion-thumbnail-container {
  height: 100%;
  overflow: hidden;
}

.suggestion-thumbnail {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.suggestion-content {
  padding: 0.4rem;
}

.suggestion-title {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

@media (min-width: 40rem) {
  .suggestion-container {
    height: 4rem;
  }
}

@media (min-width: 60rem) {
  .suggestion-title {
    font-size: 1.2rem;
  }
}
</style>
