<template>
  <div class="app-container">
    <TheHeader />
    <main class="main-content">
      <nuxt />
    </main>
    <TheFooter />
  </div>
</template>

<script>
import Cookie from 'js-cookie'
import TheHeader from '@/components/TheHeader/TheHeader'
import TheFooter from '@/components/TheFooter/TheFooter'

export default {
  head() {
    return this.$nuxtI18nSeo()
  },
  components: {
    TheHeader,
    TheFooter
  },
  mounted() {
    if (process.browser) {
      const cookie = Cookie.get('i18n_redirected')
      if (cookie == null) {
        const lang = navigator.language.toLocaleLowerCase().substring(0, 2)
        Cookie.set('i18n_redirected', lang)
        this.$router.push(this.switchLocalePath(lang))
      }
    }
  }
}
</script>


<style>
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat","Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  margin: 0;
  height: 100%;
  background-color: rgb(255, 250, 250);
}

#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-template-rows: 3rem auto fit-content(5rem);
  grid-template-areas: "header"
                       "main"
                       "footer";
}

.main-content {
  grid-area: main;
}

button {
  font: inherit;
  outline: none;
}

/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
} */

/* ::-webkit-scrollbar-thumb {
    background: #ff7824;
} */

@media (min-width: 40rem) {
  .app-container {
    grid-template-rows: 4.5rem auto fit-content(5rem);
  }
}
</style>
