<template>
  <nuxt />
</template>

<script>

export default {
  head () {
    return this.$nuxtI18nSeo()
  }
}
</script>


<style>
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat","Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  margin: 0;
  height: 100%;
  background-color: rgb(255, 250, 250);
}

#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}

button {
  font: inherit;
  outline: none;
}
</style>
