<template>
  <section id="about-page">
    <h1>{{ title }}</h1>
    <p>{{ content }}</p>
  </section>
</template>

<script>
export default {
  asyncData(context) {
    let version = context.query._storyblok || context.isDev ? 'draft' : 'published'

    return context.app.$storyapi
      .get(`cdn/stories${context.app.localePath('about')}`, {
        version: version
      })
      .then(res => {
        return {
          blok: res.data.story.content,
          title: res.data.story.content.title,
          content: res.data.story.content.content
        }
      })
  }
}
</script>

<style scoped>
#about-page {
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

#about-page p {
  white-space: pre-line;
}
</style>
