<template>
  <section class="util__container">
    <div class="searchbar-container">
      <TheSearchbar @searchedKey="key = $event"/>
    </div>
    <div class="carousel-container">
      <client-only placeholder="Loading...">
        <main-carousel :posts="latestRecipes" />
      </client-only>
    </div>
    <div class="main-section">
      <div class="spoiler recent-posts">
        <spoiler :title="$t('home.latest')" :posts="latestRecipes.slice(0, 8)" />
      </div>
      <div class="spoiler most-liked">
        <spoiler :title="$t('home.top')" :posts="mostLiked" />
      </div>
      <div class="tape all-recipes">
        <tape :title="$t('home.all')" :posts="allRecipes" />
      </div>
    </div>
  </section>
</template>

<script>
import gql from 'graphql-tag'
import Spoiler from '@/components/Home/Spoiler'
import Tape from '@/components/Home/Tape'
import MainCarousel from '@/components/Home/MainCarousel'
import TheSearchbar from '@/components/TheSearchbar/TheSearchbar'

export default {
  components: {
    TheSearchbar,
    Spoiler,
    Tape,
    MainCarousel
  },
  data() {
    return {
      busy: false
    }
  },
  asyncData ({ app, store, error }) {
    const apollo = app.apolloProvider.defaultClient
    return apollo.query({
      query: gql`{
        latestRecipes: allRecipes(orderBy: createdAt_DESC, first: "16") {
          mainImage {
            url
          }
          id
          title
          subtitle
          cookTime
          prepTime
          slug
          createdAt
        }
        topRecipes: allRecipes(orderBy: likes_DESC, first: "8") {
          mainImage {
            url
          }
          id
          title
          subtitle
          cookTime
          prepTime
          slug
        }
      }`
    }).then(({ data }) => {
      return {
        latestRecipes: data.latestRecipes.slice(0, 9),
        mostLiked: data.topRecipes,
        allRecipes: data.latestRecipes.slice(8)
      }
    })
  },
  methods: {
    scroll() {
      window.onscroll = () => {
        if (window.scrollY + window.innerHeight >= document.documentElement.scrollHeight/100 * 90 && !this.busy) {
          this.busy = true
          return this.$apollo.query({
            variables: {
              last: this.allRecipes[this.allRecipes.length-1].createdAt
            },
            query: gql`query LatestRecipes($last: DateTime!) {
              latestRecipes: allRecipes(filter: {createdAt: {lt: $last}}, orderBy: createdAt_DESC, first:"16") {
                mainImage {
                  url
                }
                id
                title
                subtitle
                cookTime
                prepTime
                slug
                createdAt
              }
            }`
          }).then(({ data }) => {
            this.allRecipes = this.allRecipes.concat(data.latestRecipes.slice(1))
            this.busy = false
          })
        }
      }
    }
  },
  mounted() {
    this.scroll()
  }
}
</script>

<style scoped>
.util__container {
  margin: auto;
}

.searchbar-container {
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 1.5rem 1rem 0.5rem 1rem;
  z-index: 1000;
  grid-area: searchbar;
}

.carousel-container {
  padding-top: 2rem;
  grid-area: carousel;
}

.main-section {
  margin-top: 2rem;
  padding: 0 0.75rem;
  grid-area: main;
}

.spoiler {
  margin-bottom: 2.5rem;
}

.tape {
  margin-bottom: 2.5rem;
}

@media (min-width: 40rem) {
  .util__container {
    margin: 1.5rem 0;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: minmax(auto, 100%);
    grid-template-areas: "searchbar"
                         "carousel"
                         "main";
    grid-template-rows: 3.5rem auto auto;
    justify-content: center;
  }

  .searchbar-container {
    position: relative;
    min-width: 0;
    width: 600px;
    padding: 0 0.75rem;
  }

  .carousel-container {
    padding-top: 0;
  }
}

@media (min-width: 50rem) {
  .main-section {
    padding: 0 1rem;
  }

  .util__container {
    grid-template-columns: minmax(0, 90%);
  }
}

@media (min-width: 75rem) {
  .util__container {
    padding: 0 1rem;
    grid-template-columns: minmax(0, 70%);
  }
}

@media (min-width: 100rem) {
  .util__container {
    grid-template-columns: minmax(0, 60%);
  }
}
</style>
