<template>
  <div class="step-container">
    <div class="step-header">
      <button class="toggle-button" @click="displaySidebar = !displaySidebar" aria-label="Menu">
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
      </button>
      <div class="steps-nav">
        <i
          class="fas fa-chevron-left back-arrow step-nav__icon"
          :class="{ 'hidden': currStep === 0}"
          @click="handlePageChange(currStep - 1)">
        </i>
        <h3 class="steps-counter">Step {{ currStep + 1 }} / {{ totalSteps }}</h3>
        <i
          class="fas fa-chevron-right next-arrow step-nav__icon"
          :class="{ 'hidden': currStep + 1 === totalSteps}"
          @click="handlePageChange(currStep + 1)">
        </i>
      </div>
      <i class="fas fa-times close-x step-nav__icon" @click="goBack"></i>
    </div>
    <div class="step-content">
      <vue-glide
        v-model="currStep"
        :index="currStep"
        :startAt="this.$store.state.currStep"
        :perView="1"
        :gap="0"
        :rewind="false"
        :swipeThreshold="50"
        :animationDuration="200"
        @change="handlePageChange">
        <vue-glide-slide v-for="(step, index) in steps" :key="index">
          <div>
            <h3 class="step-title">{{ step.title }}</h3>
            <img v-if="step.thumbnail" :src="resizeImage(step.thumbnail)" :alt="step.title" class="step-thumbnail">
            <p class="step-description">{{ step.content }}</p>
          </div>
        </vue-glide-slide>
      </vue-glide>
    </div>
    <TheSidebar @close="displaySidebar = false" :show="displaySidebar"/>
  </div>
</template>

<script>
import { Glide, GlideSlide } from 'vue-glide-js'
import TheSidebar from '@/components/TheSidebar/TheSidebar'

export default {
  layout: 'steps',
  components: {
    [Glide.name]: Glide,
    [GlideSlide.name]: GlideSlide,
    TheSidebar
  },
  data() {
    return {
      displaySidebar: false,
      currStep: this.$store.state.currStep
    }
  },
  computed: {
    steps() {
      return this.$store.state.steps
    },
    totalSteps() {
      return this.$store.state.steps.length
    }
  },
  methods: {
    resizeImage(image) {
      return resize(image, '500x500')
    },
    handlePageChange(index) {
      this.currStep = index
      this.$store.dispatch("setCurrStep", index)
    },
    goBack() {
      this.$router.replace(`${this.$route.path.replace('/steps', '')}`)
    }
  },
  async fetch(context) {
    let version = context.query._storyblok || context.isDev ? 'draft' : 'published'
    let endpoint = `cdn/stories${context.route.path.slice(0, -6)}`
    await sleep(100)
    if (!context.store.state.steps) {
      return context.app.$storyapi.get(endpoint, {
        version: version
      }).then((res) => {
        context.store.dispatch("setSteps", {
          steps: res.data.story.content.steps,
          currStep: 0
        })
        if (context.store.state.ingredients.length === 0) {
          return context.app.$storyapi.get(endpoint, {
            version: version
          }).then((res) => {
            context.store.dispatch("setIngredients", res.data.story.content.ingredients.ingredients)
          })
        }
      })
    }
  }
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
</script>

<style scoped>
.step-header {
  background-color: #722b37;
  position: fixed;
  display: flex;
  width: 100%;
  height: 6rem;
  top: 0;
}

.toggle-button {
  position: fixed;
  top: 0.3rem;
  left: 2%;
  width: 2rem;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #e5ce7b;
  display: block;
  margin: 0.4rem 0;
  padding: 0;
  border-radius: 0.1rem;
}

.steps-nav {
  position: relative;
  margin: 0.6rem auto;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

.step-nav__icon {
  margin: 0 1rem;
  color: #e5ce7b;
  font-size: 1.5rem;
}

.step-nav__icon:hover,
.step-nav__icon:active {
  cursor: pointer;
}

.steps-counter {
  margin: 0;
  color: #e5ce7b;
}

.close-x {
  position: fixed;
  margin: 0;
  top: 0.6rem;
  right: 3%;
}

.step-content {
  position: fixed;
  top: 4rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgb(255, 250, 250);
  box-shadow: 0 -6px 8px 0 rgba(0, 0, 0, 0.35);
  transform: translateY(-1rem);
}

.step-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  max-height: 40vh !important;
}

.step-title {
  /* justify-self: center; */
  margin: 0;
  padding : 1rem;
  padding-top: 0;
  font-size: 0.9rem;
}

.step-description {
  margin: 0;
  padding: 1rem;
  font-size: 0.9rem;
}

.hidden {
  visibility: hidden;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .toggle-button {
    top: 0.2rem;
    left: 2%;
    width: 1.8rem;
  }
}
</style>
